<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052318984867-vfubue6ur5tsgatk0vn5d4c8vl8hoa4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052318984867-vfubue6ur5tsgatk0vn5d4c8vl8hoa4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1052318984867-6j57lsng7ssehnr2tqg8km0fms81v8as.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGty29-tuUT6Fz-gwLMbDixmfhyqireSA</string>
	<key>GCM_SENDER_ID</key>
	<string>1052318984867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YAS-Clinic</string>
	<key>PROJECT_ID</key>
	<string>yasclinic-2019b</string>
	<key>STORAGE_BUCKET</key>
	<string>yasclinic-2019b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052318984867:ios:6f1a7ccbb7ac885875ed16</string>
</dict>
</plist>